POSTGRES_DB=rosie
POSTGRES_USER=rosie
POSTGRES_PASSWORD=rosie
POSTGRES_HOST=rosie-db
POSTGRES_PORT=5432


DJANGO_SUPERUSER_USERNAME=rosie
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin123
